*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.otf);
}

body{
    text-align: center;
    background-image: url(../imgs/DIMIGO.jpg);
}

h1{
    color: #fff;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.main-div{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 30%;
    margin: 50px auto;
    border: 10px solid;
}

.div{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px 20px;
    font-size: 5rem;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    display:flex;
    justify-content: center;
    margin: 30px auto;
    align-items: center;
}

.start-btn{
    background-color: #fff;
    border: none;
    padding: 0px 30px;
    font-size: 20px;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
}

.winning-message{
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn:hover{
    background: transparent;
    color: #000;
    border: 1px solid #000;
}